@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Montserrat:ital,wght@0,700;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Hide the spinners only for inputs with the .hide-spin class */
  .hide-spin::-webkit-outer-spin-button,
  .hide-spin::-webkit-inner-spin-button {
      @apply appearance-none;
      margin: 0;
  }

  .hide-spin {
      @apply appearance-none;
  }
}

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    @apply text-gray-500
}